<%- include('../partial/head') %>
<%- include('../components/nav', {where: 'voter', logged: true, user: voter}) %>
<form class="w-50 content-center" action="" method="POST">
    <% if (type) { %>
        <%- include('../components/validationMsg') %>
    <% } %>
    <div class="profil-pic-large align-self-center"><img src="/<%=voter.path%>" class="img-fluid" alt=""></div>
    <div class="form-group">
        <label for="username">Voter Name</label>
        <input type="text" class="form-control" name="name" id="username" value="<%= voter.name %>">
    </div>
    <div class="form-group">
        <label for="email">Email :</label>
        <input type="text" class="form-control" name="email" id="email" value="<%= voter.email %>">
    </div>
    <div class="form-group">
        <label for="password">Password :</label>
        <input type="password" class="form-control" name="password" id="password" value="<%= voter.password %>">
    </div>
    <div class="form-group">
        <label for="">Specify Your Role :</label>
        <select name="role">
            <option value="Film Maker">Film Maker</option>
            <option value="Movie Goers">Movie Goers</option>
        </select> 
    </div>
    <br>

    <input type="submit" class="btn btn-primary" value="Save">
    <a href="/delete/<%= voter.id %>">
        <button class="btn btn-danger">Delete Account</button>
    </a>
</form>
<%- include('../partial/foot') %>