<%- include('../partial/head') %>
<%- include('../components/nav', {where: 'movies', logged: true}) %>
<h4 class="text-left">Movies and Nomination</h4>
<div class="table-responsive">
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th>Title</th>
                <th>Trailer</th>
                <th>Nomination</th>
            </tr>
            </thead>
            <tbody>
                
                    <% for (let i = 0; i < movies.length; i++) { %>
                        <tr>
                            <td><%= movies[i].title %></td>
                            <td><iframe width="560" height="315" src="https://www.youtube.com/embed/<%= movies[i].url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
                            <td>
                                <ul>
                                    <% for (let j = 0; j < movies[i].Categories.length; j++) { %>
                                    <li style="list-style: none;"><a href="/voter?CategoryId=<%= movies[i].Categories[j].id %>&MovieId=<%= movies[i].id %>"><%= movies[i].Categories[j].name %></a></li>
                                    <% } %>
                                </ul>
                            </td>
                        </tr>
                    <% } %>
                
            </tbody>
        </table>
    </div>
<%- include('../partial/foot') %>